{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>index</title>
    {% endblock title %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<div class="container">

    {% block nav %}
    <nav class="navbar">
        <div class="container-fluid">

            <a class="navbar-brand" {% if activ_link_all %} style="color:red;" {% endif %} href="{% url 'training' %}">
                Все страны
            </a>
            <a class="navbar-brand" {% if activ_link_game %} style="color:red;" {% endif %} href="{% url 'start_game' %}">
                Игра
            </a>
            {% if user.is_authenticated %}
            <a class="navbar-brand" {% if activ_link_add %} style="color:red;" {% endif %} href="{% url 'add_country' %}">
                Добавить страну
            </a>
            <a class="navbar-brand" {% if activ_link_add %} style="color:red;" {% endif %} href="{% url 'logout' %}">
                Выход
            </a>
            {% else %}
            <a class="navbar-brand" {% if activ_link_add %} style="color:red;" {% endif %} href="{% url 'login' %}">
                Вход
            </a>
            {% endif %}
        </div>
    </nav>
    {% endblock nav %}

    {% block content %}


    {% endblock content %}

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>