{% extends 'main/base_templates/index.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Обновить данные страны</title>
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6 justify-content-center">
        <form action='' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>


{% endblock content %}